<%- include("../partials/head.ejs") %>

  <div class="container">
      <div class="booklist-header">
        <h1>My Books</h1>
      </div>

      <div class="booklist">
        <% books.forEach(b => { %>
        <div class="book">
          <div class="book-info">
            <p class="title">Title: <%= b.title %></p>
            <p class="author">Author: <%= b.author %></p>
            <p class="isbn">ISBN: <%= b.isbn %></p>
            <p class="date">Added: <span><%= b.updatedAt %></span></p>
          </div>
          <div class="buttons">
            <a class="edit" href="/books/update/?title=<%= b.title %>&author=<%= b.author %>&isbn=<%= b.isbn %>">Edit book</a>
            <a class="delete" data-doc="<%= b._id %>">Delete Book</a>
          </div>
        </div>
        <% }) %>
      </div>
  </div>

  <div class="overlay">
    <div class="settings">
      <div class="settings-content">
        <div class="settings-header">
          <h2>Add book to library</h2>
          <span id="close">&times;</span>
        </div>
        <form id="book-form" action="/books" method="POST">
          <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="u-full-width" required />
          </div>
          <div>
            <label for="author">Author</label>
            <input type="text" id="author" name="author" class="u-full-width" required />
          </div>
          <div>
            <label for="isbn">ISBN#</label>
            <input type="text" id="isbn" name="isbn" class="u-full-width" required />
          </div>
          <div>
            <input type="submit" value="Add book" id="updatebtn" />
          </div>
        </form>
      </div>
  </div>
  </div>

  <script src="/js/booksIndex.js"></script>
</body>
</html>