<%- include("./partials/head.ejs") %>

<div class="container">
  <div class="profile-box">
  <h4 class="edit-heading">Edit Profile</h4>
  <%- include("./partials/profile-nav.ejs") %>

  <form class="form form-edit form-info">
    <input class="input"
    type="text" 
    name="name"
    autocomplete="off"
    id="name"
    placeholder="Your name (Optional)"
    value="<%= user.name %>"
    >
    <input class="input"
          type="text"
          autocomplete="off"
          id="age"
          name="age"
          placeholder="Your age (Optional)"
          value="<%= user.age %>"
        />
    <input class="input"
          type="text"
          autocomplete="off"
          id="email"
          name="email"
          placeholder="Email"
          value="<%= user.email %>"
          minlength="6"
          required
        />
        <p class="err-msg"></p>
        <% if (user.avatar) { %>
          <button class="loginBtn removeBtn">Remove avatar</button>
        <% } %>
      <button class="loginBtn" type="submit">Save changes</button>
      <button class="loginBtn cancelBtn"><a href="/users/me">Cancel</a></button>
  </form>
</div>
</div>

<script src="/js/edit.js"></script>


<%- include("./partials/footer.ejs") %>